.Task {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 15px;
  margin-bottom: 15px;

  background-color: var(--main-card-color);

  border-radius: 8px;

  color: var(--main-text-color);

  &.isDone {
    opacity: 0.5;

    & .title {
      text-decoration: line-through;
    }
  }

  & svg {
    fill: #fff;
  }
}

.taskInfo {
  width: 100%;
  margin-right: 20px;
}

.title {
  font-size: 1.6rem;
  word-break: normal;
  user-select: none;
}

.deleteButton {
  width: 20px;
  height: 20px;
  margin-right: 20px;

  background-color: transparent;

  border: none;

  cursor: pointer;

  & svg {
    fill: var(--main-text-color);
  }
}

.inputCheckbox {
  position: relative;
  display: none;
}

.checkboxMask {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 20px;
  width: 20px;

  background-color: var(--checkbox-bg);

  border: 1px solid var(--checkbox-border);
  border-radius: 4px;

  cursor: pointer;

  &.checked {
    background-color: var(--main-text-color);
  }

  & svg {
    fill: #fff;
  }
}
