*,
*:after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
}

.lightTheme {
  --main-card-color: #e9e9e9;
  --main-text-color: #784fda;
  --main-background-color: #fff;
  --checkbox-bg: #fff;
  --checkbox-border: #909090;
  --active-filter-bg: #784fda;
  --active-filter-text: #fff;
}
.darkTheme {
  --main-card-color: #393149;
  --main-text-color: #9068ee;
  --main-background-color: #252129;
  --checkbox-bg: #555555;
  --checkbox-border: #9068ee;
  --active-filter-bg: #fff;
  --active-filter-text: #9068ee;
}
